.container
{
    min-height: 100vh;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 80px;
}
.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.title h6
{
    color: var(--fourth-color);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}
.title h2
{
    font-size: 45px;
}
.title span
{
    width: 50px;
    border-bottom: 2px solid var(--first-color);
    padding-top: 20px;
}
.products
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 20px;
}
.link
{
    text-decoration: none;
    color: inherit;
    display: block;
}
.image
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img
{
    height: auto;
    width: 100%;
}
.imagetext
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: auto;
    max-width: 280px;
    width: 85%;
    background: var(--third-color);
    padding: 8px 0px;
    position: absolute;
    bottom: 25px;
}
.imagetext h2
{
    font-size: 16px;
}
.imagetext h5
{
    font-size: 10px;
    color: var(--fourth-color);
}


@media screen and (max-width: 1024px)
{
    .container
    {
        min-height: 50vh;
        padding: 0px 20px;
    }
    .title
    {
        gap: 10px;
    }
}
@media screen and (max-width: 992px)
{
    .products
    {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container
    {
        padding: 40px 20px;
    }
}
@media screen and (max-width: 768px)
{
    .products
    {
        grid-template-columns: 1fr 1fr;
    }
    .title h6
    {
        font-size: 10px;
    }
    .title h2
    {
        font-size: 35px;
    }
}
@media screen and (max-width: 480px)
{
    .container
    {
        padding-bottom: 0px;
    }
    .products
    {
        grid-template-columns: 1fr;
    }
    .title h2
    {
        font-size: 25px;
    }
}