.container
{
    min-height: 50vh;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 80px 40px;
}
.container h6
{
    font-weight: 400;
    font-size: 12px;
    color: var(--fourth-color);
    letter-spacing: 2px;
}
.container h1
{
    font-size: 45px;
}
.container span
{
    width: 50px;
    border-bottom: 2px solid var(--first-color);
    padding-top: 20px;
}
.container p
{
    font-size: 15px;
    color: var(--fourth-color);
    font-weight: 400;
    width: 100%;
    max-width: 620px;
    text-align: center;
}

@media screen and (max-width: 1024px)
{
    .container
    {
        padding: 60px 20px;
    }
}
@media screen and (max-width: 768px)
{
    .container
    {
        min-height: 25vh;
        gap: 10px;
    }
}
@media screen and (max-width: 480px)
{
    .container h1
    {
        font-size: 35px;
    }
}
@media screen and (max-width: 350px)
{
    .container h1
    {
        font-size: 25px;
    }
}