.container
{
    background-color: var(--third-color);
    padding: 50px 20px 60px;
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.container h1
{
    font-size: 25px;
    font-weight: 400;
}
.signupform
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 25px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    width: 100%;
    max-width: 500px;
}
.signupform h2
{
    font-size: 45px;
    padding-bottom: 30px;
}
.main
{
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: start;
    justify-content: center;
    width: 100%;
}
.main .textbox
{
    height: fit-content;
    padding: 10px;
    display: inline;
    width: 100%;
    max-width: 450px;
    font-family: var(--primary-font);
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    font-size: 15px;
    outline: none;
}
.main .textbox:focus
{
    border: 2px solid var(--first-color);
    outline: none;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
.errorinput
{
    border: 2px solid red !important;
    outline: none !important;
    box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.5) !important;
}
.signupform .remember
{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
}
.signupform .remember input
{
    height: 15px;
    width: 15px;
    accent-color: var(--first-color);
    cursor: pointer;
}
.signupform .remember span
{
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 500;
}
.signupform .btn
{
    display: block;
    width: 100%;
}
.signupform .btn > *
{
    display: block;
    width: 100%;
}
.signupform a
{
    text-decoration: none;
}
.signupform a h6
{
    color: var(--first-color);
    font-size: 15px;
    font-weight: 400;
}
.signupform a h6:hover
{
    color: var(--second-color);
    transition: 0.4s;
}