.container
{
    padding: 40px 20px;
    min-height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.container span
{
    width: 50px;
    border-bottom: 2px solid var(--third-color);
}
.container h2
{
    color: var(--third-color);
    font-size: 45px;
}

@media screen and (max-width: 1440px)
{
    .container
    {
        min-height: 40vh;
    }
}
@media screen and (max-width: 768px)
{
    .container h2
    {
        gap: 15px;
    }
}
@media screen and (max-width: 480px)
{
    .container h2
    {
        font-size: 35px;
    }
}