.container
{
    min-height: 90vh;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 80px 40px;
}
.container h6
{
    font-weight: 400;
    font-size: 12px;
    color: var(--fourth-color);
    letter-spacing: 2px;
}
.container h1
{
    font-size: 65px;
}
.container span
{
    width: 50px;
    border-bottom: 2px solid var(--first-color);
    padding-top: 20px;
}
.main
{
    width: 50%;
    margin: 0 auto;
    border: 1px solid rgb(215, 215, 215);
    margin-top: 30px;
}
.faqcontent
{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-bottom: 1px solid rgb(215, 215, 215);
    padding: 20px 40px;
}
.faqquestion
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.faqquestion:hover
{
    color: var(--first-color);
    cursor: pointer;
    transition: 0.4s;
}
.faqquestion h2,h5
{
    font-size: 25px;
}
.faqanswer
{
    padding: 20px 0px;
}
.faqanswer p
{
    font-size: 15px;
    color: var(--fourth-color);
}



@media screen and (max-width: 1440px)
{
    .container
    {
        min-height: 50vh;
        padding: 40px;
    }
    .main
    {
        width: 70%;
    }
}
@media screen and (max-width: 1024px)
{
    .container
    {
        padding: 40px 20px;
    }
    .main
    {
        width: 75%;
    }
    .faqquestion h2,h5
    {
        font-size: 22px;
    }
}
@media screen and (max-width: 992px)
{
    .main
    {
        width: 90%;
    }
    .faqquestion h2,h5
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 768px)
{
    .container
    {
        padding-top: 40px;
    }
    .container h1
    {
        font-size: 55px;
    }
    .main
    {
        width: 100%;
    }
    .faqcontent
    {
        padding: 20px 30px;
    }
    .faqquestion h2,h5
    {
        font-size: 18px;
    }
    .faqanswer p
    {
        font-size: 13px;
    }
}
@media screen and (max-width: 576px)
{
    .faqcontent
    {
        padding: 20px;
    }
}
@media screen and (max-width: 480px)
{
    .container h1
    {
        font-size: 40px;
    }
    .faqquestion h2,h5
    {
        font-size: 16px;
    }
    .faqanswer p
    {
        font-size: 12px;
    }
}