.container
{
  min-height: 100vh;
  width: 100%;
  background-color: white;
  padding: 60px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  row-gap: 80px;
  align-items: start;
}
.detailleft
{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
}
.mainimage
{
  width: 100%;
}
.mainimage img
{
  height: auto;
  width: 100%;
  display: block;
}
.subimage
{
  display: flex;
  gap: 15px;
}
.subimage img
{
  width: 48.80%;
  height: auto;
  object-fit: contain;
}
.detailright
{
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  /* position: sticky; */
  /* top: 20px; */
}
.pagelinks
{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--fourth-color);
  font-size: 14px;
}
.pagelinks a
{
  text-decoration: none;
  color: inherit;
}
.available
{
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.available h4
{
  font-size: 18px;
  font-weight: 400;
}
.availablepages
{
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 5px;
  color: var(--fourth-color);
}
.availablepages a
{
  text-decoration: none;
  color: inherit;
}
.pagelinks a:hover, .availablepages a:hover
{
  color: var(--first-color);
  transition: 0.4s;
}
.detailright h1
{
  font-size: 26px;
  font-weight: 400;
}
.price
{
  display: flex;
  gap: 8px;
  font-size: 20px;
  font-weight: 500;
}
.detailright p
{
  font-size: 16px;
  font-weight: 400;
  color: var(--fourth-color);
}
.productcolor
{
    display: flex;
    gap: 8px;
    padding-bottom: 20px;
}
.productcolor .productcolortype
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 4px solid rgb(223, 223, 223);
}
.cartbutton
{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  width: 100%;
  border-top: 1px solid rgb(209, 209, 209);
  border-bottom: 1px solid rgb(209, 209, 209);
  padding: 20px 0px;
}
.quantity
{
  display: flex;
  align-items: center;
  justify-content: start;
}
.quantity button
{
  border: 2px solid rgb(209, 209, 209);
  font-size: 20px;
  padding: 4px 10px;
  background-color: transparent;
  color: var(--fourth-color);
  cursor: pointer;
}
.quantity p
{
  font-size: 15.5px;
  padding: 4px 10px;
  border-top: 2px solid rgb(209, 209, 209);
  border-bottom: 2px solid rgb(209, 209, 209);
  border-left: none;
  border-right: none;
}
.category
{
  display: flex;
  align-items: start;
  justify-content: flex-start;
  gap: 20px;
}
.category p, .category h6
{
  font-size: 14px;
  color: var(--fourth-color);
  font-weight: 400;
}
.category span a
{
  text-decoration: none;
  color: inherit;
}
.category span a:hover
{
  cursor: pointer;
  color: var(--first-color);
}
.checkout
{
  width: 100%;
}
.checkout fieldset
{
  padding: 10px;
}
.checkout legend
{
  font-size: 15px;
  font-weight: 500;
  color: var(--fourth-color);
}
.cashmethod
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cashmethod img
{
  height: auto;
  width: auto;
  max-width: 200px;
}
.shipping
{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  max-width: 200px;
}
.shipping p
{
  font-size: 15px;
  font-weight: 500;
  color: var(--fourth-color);
}
.bulleting
{
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: center;
  gap: 5px;
}
.bulleting span
{
  font-size: 14px;
  color: var(--fourth-color);
  font-weight: 400;
}
.main
{
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(215, 215, 215);
    grid-column: 1 / -1;
}
.description1, .description2, .description3
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid rgb(215, 215, 215);
}
.description1:hover, .description2:hover, .description3:hover
{
    color: var(--first-color);
    cursor: pointer;
    transition: 0.4s;
}
.description1 h2, .description2 h2, .description3 h2
{
    font-size: 15px;
}
.description1 h5, .description2 h5, .description3 h5
{
  font-size: 25px;
}
.descriptiondetails
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px;
  gap: 30px;
}
.detail1
{
  width: 100%;
}
.detail1 h4, .detail3 h4, .detail6 h4, .detail7 h4
{
  font-size: 24px;
}
.detail2
{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 75%;
}
.detail2 h4
{
  font-weight: 400;
  font-size: 14px;
}
.detail2 p, .detail3 p, .detail6 p, .detail7 p
{
  font-size: 14px;
  color: var(--fourth-color);
}
.detail3, .detail6, .detail7
{
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.iconsdescription
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.iconsdescription span
{
  font-size: 14px;
}
.iconsdescription span:hover
{
  color: var(--first-color);
}
.detail4 img, .detail5 img
{
  height: auto;
  width: 100%;
  max-width: 600px;
}
.detail7 h3
{
  font-weight: 400;
  font-size: 20px;
}
.reviews
{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0px 20px 20px;
}
.reviews h4
{
  font-size: 16px;
  font-weight: 400;
  color: var(--fourth-color);
}
.reviews p
{
  font-size: 14px;
  color: var(--fourth-color);
}
.forminput1, .forminput2
{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.forminput1 label, .forminput2 label
{
  color: var(--fourth-color);
}
.forminput1 .textbox, .forminput2 .textbox
{
    height: fit-content;
    padding: 10px;
    font-family: var(--primary-font);
    border: 2px solid rgba(0, 0, 0, 0.5);
    background-color: #f9f9f9;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}
.forminput1 .textbox:focus, .forminput2 .textbox:focus
{
    border: 2px solid var(--first-color);
    outline: none;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}
.reviewdetail
{
  display: flex;
  gap: 10px;
  width: 100%;
}
.forminput2 
{
    width: 100%;
}
.errorinput
{
    border: 2px solid red !important;
    outline: none !important;
    box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.5) !important;
}
.remember
{
    display: block;
    gap: 5px;
    width: 100%;
}
.remember input
{
    height: 15px;
    width: 15px;
    accent-color: var(--first-color);
    cursor: pointer;
}
.remember span
{
    color: var(--fourth-color);
    font-size: 14px;
    font-weight: 400;
}
.related h2
{
  font-size: 26px;
}

@media screen and (max-width: 1024px)
{
  .container
  {
    padding: 40px 20px;
  }
}
@media screen and (max-width: 992px)
{
  .detail1 h4
  {
    font-size: 20px;
  }
  .detail2 h4
  {
    font-size: 14px;
  }
  .detail2 p
  {
    font-size: 12px;
    color: var(--fourth-color);
  }
}
@media screen and (max-width: 950px)
{
  .container
  {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 768px)
{
  .descriptiondetails
  {
    grid-template-columns: repeat(1, 1fr);
  }
  .detail2, .detail3
  {
    width: 100%;
  }
  .detail4, .detail5
  {
    margin: 0 auto;
  }
  .reviewdetail
  {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px)
{
  .detailright p
  {
    font-size: 14px;
  }
  .quantity p
  {
    font-size: 15px;
    padding: 4.5px 10px;
    padding-top: 5px;
  }
}