.container
{
    min-height: 100vh;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 20px;
}
.title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.title h6
{
    color: var(--fourth-color);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}
.title h2
{
    font-size: 45px;
}
.title span
{
    width: 50px;
    border-bottom: 2px solid var(--first-color);
    padding-top: 20px;
}
.products
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 20px;
}
.image
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f3f3f3;
}
.image img
{
    height: auto;
    max-width: 500px;
    width: 100%;
}
.image:hover
{
    cursor: pointer;
}
.imagetext
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 20px;
    height: fit-content;
    max-width: 500px;
    width: 100%;
    background-color: #f3f3f3;
}
.imagetext h2
{
    font-size: 20px;
    font-weight: 400;
}
.imagetext h5
{
    font-size: 14px;
    color: var(--fourth-color);
    font-weight: 500;
}
.buttons
{
    display: flex;
    gap: 8px;
}
.buttons .currentbutton
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 4px solid var(--third-color);
}
.sale
{
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: var(--primaryu-font);
    color: var(--fourth-color);
    border: none;
    border-radius: 20px;
    background-color: var(--third-color);
    padding: 2px 10px;
    box-shadow: 0px 0px 8px 1px gray;
}
.sale:hover
{
    cursor: pointer;
    background-color: var(--first-color);
    color: var(--third-color);
    transition: 0.4s;
}
.arrivals
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}
.arrivalsimg
{
    grid-column: span 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.arrivalsimg::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.arrivalsimg img
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.arrivalscontent
{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    padding: 20px;
}
.arrivalscontent h6
{
    font-size: 12px;
    color: var(--third-color);
    letter-spacing: 2px;
    font-weight: 400;
}
.arrivalscontent h2
{
    font-size: 40px;
    color: var(--third-color);
}
.arrivalscontent h4
{
    font-size: 22px;
    color: var(--third-color);
    font-weight: 400;
}
.productlamp
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
}
.productimg
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.productimg img
{
    height: auto;
    max-width: 200px;
    width: 100%;
}
.productimg h2
{
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
.productpurchase
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.productpurchase h5
{
    color: var(--fourth-color);
    font-weight: 500;
    font-size: 14px;
}
.reviews
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    gap: 20px;
}
.reviewsdetail
{
    display: flex;
    padding: 60px;
    background-color: #f1f3f2;
    height: 100%;
    width: 100%;
}
.reviewperson
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    width: 100%;
}
.reviewsdetail span
{
    letter-spacing: -5px;
    font-size: 14px;
}
.reviewsdetail h4
{
    font-size: 20px;
    font-weight: 400;
}
.reviewsdetail h6
{
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--fourth-color);
}

@media screen and (max-width: 1024px)
{
    .container
    {
        padding: 40px 20px 20px;
    }
    .title span
    {
        padding-top: 10px;
    }
    .arrivalscontent h2
    {
        font-size: 35px;
    }
    .arrivalscontent h4
    {
        font-size: 20px;
    }
    .productpurchase
    {
        flex-direction: column;
    }
    .productimg img
    {
        height: 325px;
    }
}
@media screen and (max-width: 992px)
{
    .title
    {
        gap: 10px;
    }
    .productlamp
    {
        padding: 15px;
    }
    .productimg img
    {
        height: 310px;
    }
    .reviews
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .reviewsdetail h4
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px)
{
    .products
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .title h6
    {
        font-size: 10px;
    }
    .title h2
    {
        font-size: 35px;
    }
    .arrivals
    {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .productlamp
    {
        padding: 25px;
    }
    .arrivalscontent h2
    {
        font-size: 30px;
    }
    .arrivalscontent h4
    {
        font-size: 18px;
    }
    .arrivalsimg img
    {
        height: 350px;
    }
    .productpurchase
    {
        flex-direction: row;
    }
    .reviews
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .reviewperson
    {
        gap: 10px;
    }
    .reviewsdetail h4
    {
        font-size: 16px;
    }
}
@media screen and (max-width: 480px)
{
    .products
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .title h2
    {
        font-size: 25px;
    }
    .arrivalscontent h2
    {
        font-size: 22px;
    }
    .arrivalscontent h4
    {
        font-size: 16px;
    }
    .arrivalsimg img
    {
        height: 350px;
    }
    .productpurchase
    {
        flex-direction: column;
    }
    .reviewsdetail h4
    {
        font-size: 14px;
    }
}