.container
{
    min-height: 90vh;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 80px 40px;
}
.container h6
{
    font-weight: 400;
    font-size: 12px;
    color: var(--fourth-color);
    letter-spacing: 2px;
}
.container h1
{
    font-size: 65px;
}
.container span
{
    width: 50px;
    border-bottom: 2px solid var(--first-color);
    padding-top: 20px;
}
.main
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 60px;
    width: 100%;
}
.details
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #f3f3f3;
    border-radius: 20px;
    padding: 40px 10px;
    height: auto;
    width: 100%;
    max-width: 450px;
}
.details h2
{
    font-size: 40px;
    color: var(--first-color);
}
.details h3
{
    font-size: 30px;
}
.details h5
{
    font-size: 15px;
    font-weight: 400;
    color: rgb(58, 58, 58);
}

@media screen and (max-width: 1440px)
{
    .container
    {
        min-height: 50vh;
        padding: 40px;
    }
    .main
    {
        padding: 40px;
    }
}
@media screen and (max-width: 1024px)
{
    .container
    {
        min-height: 50vh;
        padding: 20px;
    }
    .main
    {
        padding: 40px 0px;
    }
    .details h1
    {
        font-size: 25px;
    }
    .details h5
    {
        font-size: 13px;
    }
}
@media screen and (max-width: 768px)
{
    .container
    {
        padding-top: 40px;
    }
    .container h1
    {
        font-size: 55px;
    }
    .main
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .details
    {
        max-width: 100%;
    }
}
@media screen and (max-width: 480px)
{
    .container h1
    {
        font-size: 45px;
    }
}