.container
{
    min-height: 80vh;
    width: 100%;
    background-color: var(--third-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
    padding: 80px;
}
.about
{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.about h3
{
    font-size: 25px;
}
.about span
{
    width: 50px;
    border-bottom: 2px solid var(--first-color);
    padding-top: 10px;
}
.about p
{
    font-size: 15px;
    color: var(--fourth-color);
    font-weight: 400;
    width: 100%;
    max-width: 400px;
    line-height: 1.8;
}
.image img
{
    height: 800px;
    width: 100%;
}

@media screen and (max-width: 1200px)
{
    .container
    {
        min-height: 25vh;
        padding: 0px 40px 60px;
    }
}
@media screen and (max-width: 1024px)
{
    .container
    {
        padding: 0px 20px 60px;
    }
    .image img
    {
        height: 600px;
        max-width: 100%;
    }
}
@media screen and (max-width: 992px)
{
    .image img
    {
        height: 550px;
        max-width: 100%;
    }
    .about p
    {
        font-size: 14px;
    }
}
@media screen and (max-width: 768px)
{
    .container
    {
        flex-direction: column;
    }
    .about
    {
        order: 2;
        gap: 10px;
    }
    .image
    {
        order: 1;
        width: 100%;
    }
    .about p
    {
        font-size: 14px;
        max-width: 100%;
    }
    .image img
    {
        height: 550px;
        width: 100%;
        display: block;
    }
}
@media screen and (max-width: 480px)
{
    .image img
    {
        height: 400px;
        width: 100%;
        display: block;
    }
}
@media screen and (max-width: 250px)
{
    .about h3
    {
        font-size: 20px;
    }
}