/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Science+Gothic:wght@100..900&display=swap');

/* Root Style */
:root
{
  --first-color: #e89c70;
  --second-color: black;
  --third-color: white;
  --fourth-color: rgb(58, 58, 58);

  --primary-font: Oswald, sans-serif;;
}

/* Home Page Background */
.home
{
  min-height: 100vh;
  width: 100%;
  background: url('./Assets/home-bg.jpg') center no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

/* Story Page Background */
.story
{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./Assets/story-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

/* Help Page Background */
.help
{
  min-height: 100vh;
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('./Assets/help-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

/* Swiper Pagination Bulleting */
.swiper-pagination-bullet
{
  background-color: #ccc;
  opacity: 1;
}
.swiper-pagination-bullet-active
{
  background-color: #ff4d4d;
}

/* Media Query */
@media screen and (max-width: 1024px) 
{
  .container
  {
    min-height: 55vh;
  }
}